body {
  margin: 0;
  padding: 0;
  background-color: --oriColor;
}

.center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#invert {
  font-family: "Roboto Mono", monospace;
  font-weight: 700;
  max-width: 300px;
  text-align: center;
  color: --invColor;
}