* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.andika-regular {
  font-family: "Andika", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.andika-bold {
  font-family: "Andika", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.andika-regular-italic {
  font-family: "Andika", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.andika-bold-italic {
  font-family: "Andika", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.kalam-light {
  font-family: "Kalam", cursive;
  font-weight: 300;
  font-style: normal;
}

.kalam-regular {
  font-family: "Kalam", cursive;
  font-weight: 400;
  font-style: normal;
}

.kalam-bold {
  font-family: "Kalam", cursive;
  font-weight: 700;
  font-style: normal;
}

:root {
  --shadow-color: black;
  --background-color: #f7fbfc;
  --text-color: black;
  --nav-size: 24px;
  --color2: #c0e4ea;
  --header-size: 36px;
  --outline-color: black;
  --button-size: 20px;
  --paragraph-size: 18px;
}

body {
  background-color: rgb(131, 185, 233);
  display: flex;
  flex-direction: column;
}

#title {
  text-align: center;
  padding: 30px;
}

.web {
  background-color: #ffffff;
}

.web {
  width: 90%;
  max-width: 600px;
  /* margin: 100px auto 0; */
  margin-left: auto;
  margin-right: auto;
  /* border-radius: 10px; */
  padding: 30px;
  margin-bottom: 20px;
  border: 4px solid;
  box-shadow: 4px 4px;
}

.web h2 {
  font-size: 18px;
  color: #001e4d;
  font-weight: 600;
  padding-bottom: 30px;
}

.shaded-box {
  box-shadow: 4px 4px var(--shadow-color);
  border: 4px solid var(--outline-color);
}

#submit {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 20px;
}

.button {
  cursor: pointer;
  padding: 8px 32px;
  text-decoration: none;
  color: var(--text-color);
  font-size: var(--button-size);
  margin: 0 4px 4px 0;
  width: fit-content;
  background-color: rgb(223, 157, 157);
}

.button:hover {
  background-color: rgb(209, 144, 144);
}

.button:active {
  box-shadow: none;
  margin: 4px 0 0 4px;
}

form {
  display: flex;
  flex-direction: column;
}

fieldset {
  border: none;
}

label {
  display: flex;
  background: white;
  color: #222;
  font-weight: 500;
  width: 100%;
  border: 2px solid #222;
  padding: 10px;
  margin: 10px 0;
  text-align: left;
}

label:not(.review) {
  cursor: pointer;
}

label:not(.review):hover {
  background: #222;
  color: #fff;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked ~ label {
  background-color: #EBE0AF;
  color: #222;
  box-shadow: 2px 2px #222;
}

input[type="number"] {
  color: #000000;
  width: 100%;
  height: 32px;
  font-size: 18px;
  border: 2px solid;
  padding: 4px;
  box-sizing: border-box;
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  appearance: textfield;
  -moz-appearance: textfield;
}

input[type="number"]:focus {
  box-shadow: 2px 2px #222;
}

input[type="number"].review {
  cursor: default;
  pointer-events: none;
}

#review-list {
  display: flex;
  flex-direction: column;
}

a {
  display: block;
  text-decoration: none;
  color: #000000;
  margin:24px auto;
}

.key {
  background-color: #A0DDCB;
}

.chosenwrong {
  background-color: rgb(223, 157, 157);
}

.correct {
  color: #42ab8d;
}

.wrong {
  color: #e15e57;
}

